

    <body>  
    <table width="900" align="center">
    <tbody><tr>
   
    </tr>
    </tbody></table>
    
    <table width="900" align="center" bgcolor="ffffff">
    <tbody><tr>
    
    <td width="450" border="0">
    <font color="000000" size="4">
    <center>İletişim Formu</center>
    </font>
    <br>
    <font color="444444" size="2">
        <table width="450">
        
        
        <tbody><tr>
        <td width="150">Adınız Soyadınız</td><td width="10">:</td><td width="290"><input type="text" class="aramatext"></td>
        </tr>
        
        <tr>
        <td width="150">Email Adresiniz</td><td width="10">:</td><td width="290"><input type="text" class="aramatext"></td>
        </tr>
        
        <tr>
        <td width="150">Telefon Numaranız</td><td width="10">:</td><td width="290"><input type="text" class="aramatext"></td>
        </tr>
        
        <tr>
        <td width="150">Mesaj</td><td width="10">:</td><td width="290"><textarea class="aramatext"></textarea></td>
        </tr>
        
        <tr>
        <td width="150"></td><td width="10"></td><td width="290"><input class="aramatext" type="submit" value="Gönder"></td>
        </tr>
        
        </tbody></table>
    <br><br>
    </font>
    </td>
     
    <td width="2">
    </td>
    <td width="1" bgcolor="999999">
    </td>
    <td width="2">
    </td>
     
    <td width="445">
    <font color="000000" size="4">
    <center>İletişim Bilgileri</center>
    </font>
    <br><br>
        <table width="450">
        
        
        <tbody>        
        <tr>
        <td width="150">Telefon</td><td width="10">:</td><td width="290">05383621250</td>
        </tr>
        </tbody></table>
    
    </td>
     
    </tr>
    </tbody></table>
     
    <br><br><br><table width="500" height="30" align="center">
    <tbody><tr>
    
    
    <td align="center">
    2021 |  Sitenin Tüm Hakları Saklıdır.
    </td>
     
    </tr>
    </tbody></table>
     
    
    </body></html>